
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html, body { overflow-x: hidden; }

body {
font-family: "Poppins", sans-serif;
background-color: #ebfbee;
min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}


#location-search {
    width: 95%;
    border-radius: 20px;
    height: 30px;
    border: 1px solid #ccc;;
}

.create-location-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #c5cac8;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: box-shadow 0.3s ease;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
}

h1, h2, h3 {
    font-weight: 600;
    font-size: 18;
}

.create-location-card p {
    font-size: 14px;
}
p {
    font-size: 12px;
}
.create-location-card h2 {
    margin-bottom: 5px;
}



.create-location-card p {
    margin-top: 5px;
}



header h1 {
    font-size: 32px;
}


/* Appliance list */
.appliance-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

.appliance-list p {
    margin: 5px 10px 5px 0px;
}

/* General styles for the card container */
#locations-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#locations-section h2 {
    font-size: 20px;
}


/* Card styles */
.location-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: box-shadow 0.3s ease;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.location-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Icon style */
.location-card .icon {
    font-size: 95px;
}

.location-button-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-right: 30px;
}

.details-container {
    width: 60%;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.details-container h3 {
    font-size: 16px;

}

.edit-button, .stats-button {
    width: 60px
}

button {
    background-color: #ebfbee;
    border-radius: 5px;
    border: 1px solid #c5cac8;
    height: 25px;
    font-family: "Poppins", sans-serif;
}