<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Statistics</title>
    <script type="module" src="/scripts/locationStats.mjs"> defer</script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/energyStats.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <main id="location-stats-main">
    <section id="main-section">
        <!-- The energy statistics will be rendered here -->
    </section>
</main>
</body>
</html>
