<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/scripts/locations.mjs"></script>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <main>
        <header>
            <h1>All Locations</h1>
            <input type="text" name="search" class="grow" id="location-search">
        </header>

        <section class="locations-section">
            <div class="location-cards">
                
            </div>
            
        </section>
    </main>
</body>
</html>
